.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

p {
  margin-left: 10px;
  color: white;
}

.column{
    width: 50%;
    height: 100%;
    float: left;

}

.column1{
    width: 20%;
    height: 100%;
    float: left;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Section{
  margin-left: 25px;
}

.ColourDisplay{
  height: 250px;
  width: 400px;
  background: linear-gradient(#e66465, #9198e5);
  margin-left: 10px;
  border-radius: 5px;

}

.Square1{
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background: #e66465;
}

.Square2{
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background: #9198e5;
}

.Menu-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  height: 800px;
}

.Button {
 width: 50px;
 margin-left: 5px;
 border-radius: 5px;
 color: black;
 background: white;

}

.H1-CSS{
  text-align: left;
  margin-left: 30px;
  margin-top: 30px;
  color: white;
}

.H2-CSS{
  text-align: left;
  margin-left: 30px;
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
